# The interface section allows to enable pimb on an interface.
# Several options can be enabled for the interface.
# All options are disabled by default.
#
#config interface '<interface section name>'
# option pim '<on | off>'     - enable or disable pim
# option ssbidir '<on | off>' - enable or disable ssbidir
# option mld '<on | off>'     - enable or disable mld
# option igmp '<on | off>'    - enable or disable igmp
# option dev '<device name>'  - set the device name

# The rpa section allows to configure a rendevous point.
# The interface and the networks must be configured for every rendevous.
#
#config rpa '<rendevous point name>'
# option address '<ip address>'       - rendevous point address
# list prefix '<net>/<prefix length>' - prefix for the rpa



# Uncomment the following following section to enable pimb on the interface eth1.
#config interface 'ETH1'
#	option pim 'on'
#	option ssbidir 'on'
#	option mld 'on'
#	option igmp 'on'
#	option dev 'eth1'


# Uncomment the following section to configure a rendevous point.
#config rpa '172_16_0_1'
#	option address '172.16.0.1'
#	list prefix '224.0.0.0/4'

